# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#read csv from first activity
og_df = pd.read_csv('../output_data/cities.csv') 
#remove extra index
df = og_df.drop(columns=['Unnamed: 0']) 
df

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
0,izoplit,56.63,36.22,30.74,94,100,8.63,1580345428
1,vaini,-21.20,-175.20,86.00,79,75,9.17,1580345429
2,kaitangata,-46.28,169.85,64.00,67,75,10.51,1580345429
3,oxbow,49.23,-102.17,26.60,92,90,2.24,1580345151
4,doume,4.23,13.45,67.21,31,86,3.06,1580345429
5,herat,34.50,62.00,32.00,41,70,2.24,1580345429
6,ponta do sol,32.67,-17.10,60.80,72,20,5.82,1580345429
7,rabo de peixe,37.80,-25.58,62.60,93,40,13.87,1580345431
8,hilo,19.73,-155.09,80.60,61,75,10.29,1580345431
9,puerto ayora,-0.74,-90.35,84.20,62,75,10.29,1580345434
10,punta arenas,-53.15,-70.92,50.00,76,100,15.01,1580345299
11,rikitea,-23.12,-134.97,79.93,75,100,9.91,1580345436
12,tarauaca,-8.16,-70.77,75.94,83,68,1.23,1580345148
13,bengkulu,-3.80,102.27,72.32,75,100,3.98,1580345437
14,busselton,-33.65,115.33,60.01,81,34,5.99,1580345437
15,rurrenabaque,-14.44,-67.53,73.27,98,95,1.79,1580345437
16,narsaq,60.92,-46.05,10.40,60,7,5.82,1580345437
17,hermanus,-34.42,19.23,64.00,81,0,5.01,1580345437
18,butaritari,3.07,172.79,84.42,74,92,8.23,1580345437
19,vredendal,-31.67,18.50,65.68,65,0,3.53,1580345437
20,bluff,-46.60,168.33,64.47,47,90,10.89,1580345439
21,cape town,-33.93,18.42,68.00,63,20,24.16,1580345168
22,priargunsk,50.37,119.10,-14.03,100,100,2.93,1580345439
23,lebu,-37.62,-73.65,55.74,65,18,8.88,1580345440
24,east london,-33.02,27.91,70.68,79,100,7.58,1580345440
25,ancud,-41.87,-73.82,53.60,66,40,8.05,1580345440
26,mar del plata,-38.00,-57.56,61.00,62,89,6.93,1580345215
27,atuona,-9.80,-139.03,81.27,74,1,15.79,1580345440
28,olafsvik,64.89,-23.71,33.15,83,64,16.96,1580345440
29,cidreira,-30.18,-50.21,75.90,82,60,17.60,1580345441
30,ushuaia,-54.80,-68.30,37.45,98,100,9.01,1580345155
31,rio grande,-32.03,-52.10,77.00,79,49,10.56,1580345442
32,laguna,38.42,-121.42,66.99,55,1,9.17,1580345443
33,kapaa,22.08,-159.32,82.40,48,1,10.29,1580345443
34,tocopilla,-22.09,-70.20,60.19,68,0,3.18,1580345444
35,pitimbu,-7.47,-34.81,78.80,78,20,6.93,1580345444
36,talnakh,69.49,88.40,-9.40,83,75,2.24,1580345444
37,nikolskoye,59.70,30.79,30.20,92,90,13.42,1580345445
38,dikson,73.51,80.55,-23.66,98,86,4.61,1580345445
39,jamestown,42.10,-79.24,25.00,85,1,5.82,1580345445
40,adrar,20.50,-10.07,69.51,19,95,12.21,1580345445
41,maldonado,-34.67,-54.92,68.00,82,90,17.22,1580345447
42,kupang,-10.17,123.58,84.20,83,40,10.29,1580345292
43,flinders,-34.58,150.86,82.00,51,0,5.82,1580345448
44,georgetown,5.41,100.34,78.80,94,20,1.68,1580345353
45,cayenne,4.93,-52.33,80.60,78,40,8.05,1580345448
46,palmares do sul,-30.26,-50.51,73.63,76,51,7.83,1580345449
47,khatanga,71.97,102.50,-14.35,98,98,3.65,1580345449

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
humidity = df["Humidity (%)"].astype(float)
maxhumidity = humidity.max()
locations = df[["Latitude", "Longitude"]]

In [4]:

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
#narrow down df to ideal conditions, no null values will appear b/c they were removed by earlier code
narrowed_city_df = df.loc[(df["Max Temperature (F)"] > 70) & (df["Max Temperature (F)"] < 80) & (df["Cloudiness (%)"] < 50)]

lat = []
long = []

long = narrowed_city_df['Longitude']
lat = narrowed_city_df['Latitude']

narrowed_city_df

,City,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date
31,rio grande,-32.03,-52.10,77.0,79,49,10.56,1580345442
35,pitimbu,-7.47,-34.81,78.8,78,20,6.93,1580345444
44,georgetown,5.41,100.34,78.8,94,20,1.68,1580345353

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
# geocoordinates
target_coordinates = f"{lat},{long}"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params).json()
print(response)

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [ ]:
#couldnt figure out why the request is invalid? I gave up here because it is already overdue and i have other hw to work on but if whoever 
#grades this knows whats wrong id love to know why my api call is invalid

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map